body {
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  overflow: hidden;
}

.chat-container {
  position: absolute;
  width: 600px;
  height: 83vh;
  top: 3.5rem;
  left: 50%;
  margin-left: -300px;
  overflow: hidden;
  padding: 0 1.5rem !important;
}

@media screen and (max-width: 359px) {
  .chat-container {
    width: 300px;
    margin-left: -150px;
    height: 75vh;
  }
}

@media screen and (min-width: 360px) and (max-width: 599px) {
  .chat-container {
    width: 350px;
    margin-left: -175px;
    height: 85vh;
  }
}

.container {
  height: auto;
  background: white;
  position: relative;
}

#scroll-container {
  position: relative;
  height: 85vh;
  overflow: scroll;
  margin-bottom: 2rem;
}

@media screen and (max-width: 599px) {
  #scroll-container {
    height: 75vh;
  }
}

@media screen and (max-width: 599px) and (min-height: 650px) {
  #scroll-container {
    height: 75vh;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #scroll-container {
    height: 60vh;
  }
}

#button-to-top {
  position: fixed;
  bottom: 120px;
  right: 200px;
}

.chat-text {
  padding: 1rem 4rem;
}

@media screen and (max-width: 767px) {
  #button-to-top {
    bottom: 85px;
    right: 10px;
  }
  .chat-text {
    padding: 1rem 2rem;
  }
}
