body {
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: 'Comfortaa', cursive !important;
}

#grid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-container {
  position: absolute;
  width: 600px;
  height: 83vh;
  top: 3.5rem;
  left: 51%;
  margin-left: -300px;
  overflow: hidden;
  padding: 0 1.5rem !important;
}

.tool-bar {
  left: 50% !important;
  margin-left: -300px;
  width: 625px;
  padding: 0 1.5rem !important;
}

.container {
  height: auto;
  background: white;
  position: relative;
}

#scroll-container {
  position: relative;
  height: 85vh;
  overflow: scroll;
  margin-bottom: 2rem;
}

#button-to-top {
  position: absolute;
  bottom: 40px;
  right: 4%;
  z-index: 20;
}

.typing-tag {
  display: flex;
  align-items: end;
  width: 200px;
}

@media screen and (max-width: 359px) {
  .chat-container {
    width: 300px;
    margin-left: -153px;
    height: 80vh;
  }

  .tool-bar {
    left: 50% !important;
    margin-left: -150px;
    width: 300px;
  }

  .typing-tag {
    width: 150px;
  }

  #button-to-top {
    bottom: 30px;
  }
}

@media screen and (min-width: 360px) and (max-width: 599px) {
  .chat-container {
    width: 350px;
    margin-left: -175px;
    height: 85vh;
  }

  .tool-bar {
    left: 50% !important;
    margin-left: -170px;
    width: 350px;
  }

  #button-to-top {
    bottom: 30px;
  }
}

@media screen and (max-width: 599px) {
  #scroll-container {
    height: 75vh;
  }
}

@media screen and (max-width: 599px) and (min-height: 650px) {
  #scroll-container {
    height: 76vh;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #scroll-container {
    height: 60vh;
  }
}

.chat-text {
  padding: 1rem 4rem;
}

#typing-alert {
  position: absolute;
  bottom: 25px;
  left: 15px;
}

@media screen and (max-width: 767px) {
  .chat-text {
    padding: 1rem 2rem;
  }
  #login-dropdown-list.accounts-dialog {
    left: -50px;
    top: 50px;
  }
}
